<div class="container rounded border border-2 border-danger w-75">
  <div class="d-flex flex-column align-items-center p-3">
    <img
      src="../../../assets/images/icon-brand-recognition.svg"
      class="rounded-circle bg-primary p-2 w-25 my-4"
    />
    <div class="fw-bold fs-3">title title</div>
    <div class="description text-center">
      <p class="fw-lighter text-body-secondary fs-6 mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptas
        ut, impedit repellendus iusto placeat molestiae pariatur enim temporibus
        sunt debitis amet atque, mollitia labore minus. Temporibus animi cum
        distinctio.
      </p>
    </div>
  </div>
</div>
